@media (max-width: 576px) {
  .modal-dialog.modal-dialog-slideout {
    width: 100%;
  }
}

.modal {
  padding-right: 0px !important;
}

.modal-dialog-slideout {
  min-height: 100%;
  margin: 0 auto 0 0;
  background: #fff;
}

.modal-dialog-slideout.right {
  min-height: 100%;
  margin: 0 0 0 auto;
  background: #fff;
  max-width: 380px;
}

.modal.fade .modal-dialog.modal-dialog-slideout {
  -webkit-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
}

.modal.fade .modal-dialog.modal-dialog-slideout.right {
  -webkit-transform: translate(100%, 0) scale(1);
  transform: translate(100%, 0) scale(1);
}

.modal.fade.show .modal-dialog.modal-dialog-slideout {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  display: flex;
  align-items: stretch;
  -webkit-box-align: stretch;
  height: 100%;
}

.modal.fade.show .modal-dialog.modal-dialog-slideout .modal-body {
  overflow-y: auto;
  overflow-x: hidden;
}

.modal-dialog-slideout .modal-content {
  border: 0;
}

.modal-dialog-slideout .modal-header h6 {
  float: left;
  max-width: 86%;
}

.modal-header {
  padding: 0.5rem 1rem;
}
